body {
    background-color: #153DBC;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
h1{
    color: #001B45;
    font-weight: 800;
}
h2{
    font-family: 'DM Sans', sans-serif;
    color: #001B45;
}
.ibmplex{
    font-family: 'IBM Plex Sans', sans-serif;
}

.headline em{
    color: #FFE176;
    background-color: rgba(255,255,255,0.1);
    font-style: normal;
}

p em{
    color: #FFE176;
    font-style: normal;
}

figcaption h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
    background: #00000053;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-bottom: 16px;
    font-variant-numeric: tabular-nums;
}


